#banner
  .value_prop.pull-right
    %p Welcome to a New Era of Basketball Analytics
.container

  %br
  %br
  .row
  %ul.logowall
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/220/thumbs/5mdhgjh3aa92kih09pgi.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/213/thumbs/slhg02hbef3j1ov4lsnwyol5o.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/3786/thumbs/hsuff5m3dgiv20kovde422r1f.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/258/thumbs/tmjfk4voqo1v34rm65982p2hu.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/221/thumbs/hj3gmh82w9hffmeh3fjm5h874.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/222/thumbs/e4701g88mmn7ehz2baynbs6e0.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/228/thumbs/ifk08eam05rwxr3yhol3whdcm.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/229/thumbs/xeti0fjbyzmcffue57vz5o1gl.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/223/thumbs/3079.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/235/thumbs/qhhir6fj8zp30f33s7sfb4yw0.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/230/thumbs/8xe4813lzybfhfl14axgzzqeq.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/224/thumbs/3083.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/236/thumbs/bvv028jd1hhr8ee8ii7a0fg4i.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/237/thumbs/uig7aiht8jnpl1szbi57zzlsh.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/231/thumbs/793.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/214/thumbs/burm5gh2wvjti3xhei5h16k8e.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/225/thumbs/0295onf2c4xsbfsxye6i.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/232/thumbs/zq8qkfni1g087f4245egc32po.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/4962/thumbs/496226812014.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/216/thumbs/2nn48xofg0hms8k326cqdmuis.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/2687/thumbs/khmovcnezy06c3nm05ccn0oj2.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/217/thumbs/wd9ic7qafgfb0yxs7tem7n5g4.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/218/thumbs/qlpk0etqwelv8artgc7tvqefu.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/238/thumbs/g9agfgof0kzui4u445wrsj3e5.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/239/thumbs/bahmh46cyy6eod2jez4g21buk.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/240/thumbs/832.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/233/thumbs/827.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/227/thumbs/yfypcwqog6qx8658sn5w65huh.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/234/thumbs/m2leygieeoy40t46n1qqv0550.gif'
    %li
      = image_tag 'http://content.sportslogos.net/logos/6/219/thumbs/b3619brnphtx65s2th4p9eggf.gif'



      -# ATL http://content.sportslogos.net/logos/6/220/thumbs/5mdhgjh3aa92kih09pgi.gif
      -# BOS http://content.sportslogos.net/logos/6/213/thumbs/slhg02hbef3j1ov4lsnwyol5o.gif
      -# BKL http://content.sportslogos.net/logos/6/3786/thumbs/hsuff5m3dgiv20kovde422r1f.gif
      -# CHA http://content.sportslogos.net/logos/6/258/thumbs/tmjfk4voqo1v34rm65982p2hu.gif
      -# CHI http://content.sportslogos.net/logos/6/221/thumbs/hj3gmh82w9hffmeh3fjm5h874.gif
      -# CLE http://content.sportslogos.net/logos/6/222/thumbs/e4701g88mmn7ehz2baynbs6e0.gif
      -# DAL http://content.sportslogos.net/logos/6/228/thumbs/ifk08eam05rwxr3yhol3whdcm.gif
      -# DEN http://content.sportslogos.net/logos/6/229/thumbs/xeti0fjbyzmcffue57vz5o1gl.gif
      -# DET http://content.sportslogos.net/logos/6/223/thumbs/3079.gif
      -# GSW http://content.sportslogos.net/logos/6/235/thumbs/qhhir6fj8zp30f33s7sfb4yw0.gif
      -# HOU http://content.sportslogos.net/logos/6/230/thumbs/8xe4813lzybfhfl14axgzzqeq.gif
      -# IND http://content.sportslogos.net/logos/6/224/thumbs/3083.gif
      -# LAC http://content.sportslogos.net/logos/6/236/thumbs/bvv028jd1hhr8ee8ii7a0fg4i.gif
      -# LAL http://content.sportslogos.net/logos/6/237/thumbs/uig7aiht8jnpl1szbi57zzlsh.gif
      -# MEM http://content.sportslogos.net/logos/6/231/thumbs/793.gif
      -# MIA http://content.sportslogos.net/logos/6/214/thumbs/burm5gh2wvjti3xhei5h16k8e.gif
      -# MLW http://content.sportslogos.net/logos/6/225/thumbs/0295onf2c4xsbfsxye6i.gif
      -# MIN http://content.sportslogos.net/logos/6/232/thumbs/zq8qkfni1g087f4245egc32po.gif
      -# NOP http://content.sportslogos.net/logos/6/4962/thumbs/496226812014.gif
      -# NYK http://content.sportslogos.net/logos/6/216/thumbs/2nn48xofg0hms8k326cqdmuis.gif
      -# OKC http://content.sportslogos.net/logos/6/2687/thumbs/khmovcnezy06c3nm05ccn0oj2.gif
      -# ORL http://content.sportslogos.net/logos/6/217/thumbs/wd9ic7qafgfb0yxs7tem7n5g4.gif
      -# PHL http://content.sportslogos.net/logos/6/218/thumbs/qlpk0etqwelv8artgc7tvqefu.gif
      -# PHX http://content.sportslogos.net/logos/6/238/thumbs/g9agfgof0kzui4u445wrsj3e5.gif
      -# POR http://content.sportslogos.net/logos/6/239/thumbs/bahmh46cyy6eod2jez4g21buk.gif
      -# SAC http://content.sportslogos.net/logos/6/240/thumbs/832.gif
      -# SAS http://content.sportslogos.net/logos/6/233/thumbs/827.gif
      -# TOR http://content.sportslogos.net/logos/6/227/thumbs/yfypcwqog6qx8658sn5w65huh.gif
      -# UTA http://content.sportslogos.net/logos/6/234/thumbs/m2leygieeoy40t46n1qqv0550.gif
      -# WAS http://content.sportslogos.net/logos/6/219/thumbs/b3619brnphtx65s2th4p9eggf.gif



