

-# %form.filter-container
  
  -# .row
  -#   .span3
  -#     %p Select Season
  -#     %select
  -#       %option All Seasons
  -#       %option 2008-2009
  -#       %option 2007-2008
  -#       %option 2006-2007
  -#   .span3
  -#     %p Search by Team or Player
  -#     %input#search.span3{:type => "text", "autocomplete"=>"off", "data-provide"=> "typeahead", "data-items"=>"4"}

  -#   .span3
  -#     %p Select Game Period
  -#     %select
  -#       %option All Quarters
  -#       %option 1st Quarter
  -#       %option 2nd Quarter
  -#       %option 3rd Quarter
  -#       %option 4th Quarter

  -#   .span2
  -#     %p Home/Away 
  -#     %select.span2
  -#       %option Both
  -#       %option Home
  -#       %option Away



%h3 
  = @player[:name].titleize
%h4
  Season: #{@player[:season]}
  %br
  %br
.row
  .span7
    %h4 
      Shot Chart

    .filter
      %b Filter by: 
      = link_to "1st Quarter", "#", id: "filter_period_1", class: "filter_period"
      = link_to "2nd Quarter", "#", id: "filter_period_2", class: "filter_period"
      = link_to "3rd Quarter", "#", id: "filter_period_3", class: "filter_period"
      = link_to "4th Quarter", "#", id: "filter_period_4", class: "filter_period"

    #chart

  .span5
    %h4 Shot Distribution

    .donut_chart
      %table.table.table-striped.table-bordered
        %thead 
          %tr
            %th Player Name
            %th Position
            %th Age
        %tbody
          %tr
            %td 
              %a{:href => "#"} Kevin Durant
            %td Small Forward
            %td 25
          %tr
            %td
              %a{:href => "#"} Russell Westbrook
            %td Point Guard
            %td 24
          %tr
            %td 
              %a{:href => "#"}James Harden
            %td Shooting Guard
            %td 24
          %tr
            %td 
              %a{:href => "#"}Serge Ibaka 
            %td Power Forward
            %td 23




  :javascript
    var subjects = ['Kevin Durant', 'Russell Westbrook', 'James Harden', 'Serge Iback', 'Oklahoma City Thunder', 'Washington Bullets', 'Kobe Bryant', 'Chris Paul', 'Denver Nuggets'];
    $('#search').typeahead({source: subjects})

    var all_shot_data = gon.shots


    courtobj = new courtviz();
    /* Draw court and all shot circles */
    court = courtobj.drawCourt('court1', '');

    var svg = d3.select("svg")

    var xPos = d3.scale.linear()
                 .domain([0, 50])
                 .range([500, 0])

    var color = d3.scale.ordinal()
                 .domain(["missed", "made"])
                 .range(["red", "green"])

    function render(shot_data){

      var shots = svg.selectAll("circle.shot")
        .data(shot_data, function(d) { return d.shot_id });

      shots.enter()
        .append("circle")
        .attr("class", "shot")
        .attr("cx", function(d){return xPos(d.coordinates.x) })
        .attr("cy", function(d){return d.coordinates.y * 10;})
        .attr("r", 10)
        .attr("fill", function(d) { return color(d.result) })
        .transition().duration(1000).attr("r", 4);

      shots.exit().transition().duration(200)
        .attr("r", 0).remove();
    };

    //d3.json("....", render);

    render(all_shot_data)

    $(".filter_period").click( function(e){
      e.preventDefault();
      var qtr = $(this).attr("id").split("_").pop();
      console.log("filtering qtr data" + qtr);

      qtrData = $.map(all_shot_data, function(el) {
        if (el.period === qtr) {
          return el;
        }
      });

      render(qtrData);

    })



