!!!
%html{:xhmns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title ShotVisualizer - Shot Location Analytics for the NBA
    %link{:href=>'http://fonts.googleapis.com/css?family=Audiowide', :rel=>'stylesheet', :type=>'text/css'}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = include_gon


  %body
    = render :partial => "shared/navbar"

    .container
      = yield

    .container
      .row
        = render :partial => "shared/footer"


